.header {
  background-color: #f5f5f5 !important;
  color: #333 !important;
  border-bottom: 1px solid #eee !important;
}

.header .header-logo-wordmark, .header .header-logo-invertocat {
  color: #555 !important;
}

.header .header-navlink {
  color: #555 !important;
}

.header .header-navlink:hover, .header .header-navlink:focus {
  color: #333 !important;
}

.header-navlink:hover .dropdown-caret, .header-navlink:focus .dropdown-caret {
  border-top-color: #333 !important;
}

.header .notification-indicator:hover .mail-status {
  background-color: #4078c0 !important;
}

.header .notification-indicator .mail-status {
  border-color: #f3f3f3 !important;
}

.header .form-control, .header .form-select {
  color: #333 !important;
  outline: none !important;
}

.header .header-search-input::-webkit-input-placeholder {
  color: #767676 !important;
}
.header .header-search-wrapper {
  background-color: #fff !important;
  background-repeat: no-repeat !important;
  background-position: right 8px center !important;
  border: 1px solid #ddd !important;
  border-radius: 3px !important;
}

.header .header-search-scope {
  font-size: 12px !important;
  color: #767676 !important;
  border-right: 1px solid #eee !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}
